{% if format == "adoc" %}
== {% trans %}Authors{% endtrans %}

*macOS Security Compliance Project*

{{ "CIS Critical Security Controls® (CIS Controls®) are referenced with the permission and support of the Center for Internet Security® (CIS®)" if "cis" in baseline.title.lower() else "" }}

[width="100%",cols="1,3"]
|===
{% for author in baseline.authors -%}
|{{ author.name }}|{{ author.organization }}
{% endfor -%}
|===
{% elif format == "html" %}
<div class="sect1">
<h2 id="_authors">3. {% trans %}Authors{% endtrans %}</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>macOS Security Compliance Project</strong></p></div>
{% if "cis" in baseline.title %}
<div class="paragraph"><p>CIS Critical Security Controls® (CIS Controls®) are referenced with the permission and support of the Center for Internet Security® (CIS®)</p></div>
{% endif %}
<table class="tableblock frame-all grid-all stretch" style="table-layout:fixed;width:100%;">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
{% for author in baseline.authors %}
<tr>
<td class="tableblock halign-left valign-top" style="width:25%;"><p class="tableblock">{{ author.name }}</p></td>
<td class="tableblock halign-left valign-top" style="width:75%;"><p class="tableblock">{{ author.organization }}</p></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% elif format == "pdf" %}
<div class="sect1">
<h2 id="_authors">3. {% trans %}Authors{% endtrans %}</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>macOS Security Compliance Project</strong></p></div>
{% if "cis" in baseline.title %}
<div class="paragraph"><p>CIS Critical Security Controls® (CIS Controls®) are referenced with the permission and support of the Center for Internet Security® (CIS®)</p></div>
{% endif %}
<table class="tableblock frame-all grid-all stretch" style="border-collapse:collapse;width:100%;">
<colgroup>
<col style="width:25%;">
<col style="width:75%;">
</colgroup>
<tbody>
{% for author in baseline.authors %}
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">{{ author.name }}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">{{ author.organization }}</p></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% else %}
## {% trans %}Authors{% endtrans %}

<strong>macOS Security Compliance Project</strong>

{{ "CIS Critical Security Controls® (CIS Controls®) are referenced with the permission and support of the Center for Internet Security® (CIS®)" if "cis" in baseline.title else "" }}

<table>
{% for author in baseline.authors %}
  <tr>
    <td>{{ author.name }}</td>
    <td>{{ author.organization }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}
